/vendor
/node_modules
/bower_components
/log
/logs
.codeintel/
/storage/debugbar/
/storage/dragonpay/
/storage/json/
_ide_helper.php
_ide_helper_models.php
Homestead.yaml
Homestead.json
upload.json
uploadDev.json
upload.json.example
.env
.env.staging
.env.production
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
